<div class="mdl-grid">
    <h4 class="mdl-cell mdl-cell--8-col">Instructor Details</h4>
    <div class="mdl-cell mdl-cell--12-col">
        <div *ngIf="instructor">
            <h4>{{instructor.name}}</h4>
            <div>Session cost: {{ instructor.sessionCost | currency:'GBP':true}}</div>

            <h5>Sessions</h5>
            <div class="instructor-slots">
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric slots-time">Time</th>
                            <th class="mdl-data-table__cell--non-numeric slots-client">Client</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">3 Sep 10:00</td>
                            <td class="mdl-data-table__cell--non-numeric">Penny Johnson</td>
                        </tr>
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">3 Sep 15:00</td>
                            <td class="mdl-data-table__cell--non-numeric"></td>
                        </tr>
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">3 Sep 16:00</td>
                            <td class="mdl-data-table__cell--non-numeric">Mike Lord</td>
                        </tr>
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">6 Sep 08:00</td>
                            <td class="mdl-data-table__cell--non-numeric"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>