<div class="mdl-grid">
    <h4 class="mdl-cell mdl-cell--8-col">Instructor Details</h4>
    <div class="mdl-cell mdl-cell--12-col">
        <div *ngIf="instructor">
            <h4>{{ instructor.name }}</h4>
            <div>Session cost: {{ instructor.sessionCost | currency:'GBP':true}}</div>

            <h5>Sessions</h5>
            <div *ngIf="!instructor.sessions">
                 No session data
            </div>
            <div *ngIf="instructor.sessions" class="instructor-slots">
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric slots-time">Time</th>
                            <th class="mdl-data-table__cell--non-numeric slots-client">Client</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let session of instructor.sessions; let index = index">
                            <td class="mdl-data-table__cell--non-numeric">{{ session.time | date: "dd MMM HH:mm"}}</td>
                            <td class="mdl-data-table__cell--non-numeric">
                                 <div class="mdl-textfield mdl-js-textfield">
                                    <input [attr.id]="'session-id-' + index" type="text"  class="mdl-textfield__input" [(ngModel)]="session.client" />
                                 </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>